.dashboard {
    display: flex; 
    flex-direction: column; /* İçeriği dikey olarak hizalar */
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-left: 100px;
  }
  .title {
    text-align: left;
  }
  
  .titleText {
    font-size: 2.5rem;
    font-weight: normal;
    color: #3f3f3f;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 1.1rem;
    color: rgb(215, 150, 65);
    margin-bottom: 1rem;
    font-weight: 350;
  }
  
  .description {
    font-size: 1rem;
    color: #3f3f3f;
    font-weight: 500;
  }
