.sidebar {
   display: flex;
   flex-direction: column;
   width: 80px;
   height: 600px;
   box-sizing: border-box;
   color: #fff;
   align-items: center;  
   margin-left: 50px;
}

 
 .upper-side .lower-side{
   display: flex;
   flex-direction: column;
   align-items: center; /* İtem'ları dikeyde merkezle */
   cursor: pointer; 
 }
 

 