.button {
    background: linear-gradient(135deg, #A51E1B , #143052 ); /* Gradient background with red and black colors */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 15px ;
    text-transform: uppercase;
    cursor: pointer;
    width: 390px;
    height: 300px;

  }
  
  .button:hover {
    background: linear-gradient(135deg, #143052, #A51E1B); /* Reversed gradient on hover */
    color: #fff;
  }
  .logo-container {
    width: 32px;
    height: 32px;
  }
  
  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
  }
  
  .brand-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
  }